/*ESTILOS DEL FOOTER*/
footer {
    background-color: #1a1617;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: auto;
    position: relative;
    clear: both;
}

.redes img {
    display: inline-block;

    gap: 10px;
}

.redes a {
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
}

.redes a:hover {
    color: #ffcc00;
}