/* Estilo del contenedor de pago */
.payment-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 50px auto;
}

#card-payment {
    background-color: #007ebb;
    color: white;
    font-weight: bold;
}

#card-payment:hover {
    background-color: black;
    color: white;
}

#cash-payment {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}

#cash-payment:hover {
    background-color: black;
    color: white;
}

#payment-message {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #e0a800;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 20px;
    font-size: 2.3rem;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;

}