* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    /* Asegura que el padding y el borde se incluyan en el ancho y alto total */
}

body {

    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

}

/*Estilos de clases de JS*/
.message {
    margin-top: 10px;
    color: green;
    font-weight: bold;
    transition: opacity 0.5s ease;
    display: none;
}

.message-promos-dos,
.message-promos-cuatro {
    margin-top: 10px;
    color: rgb(245, 248, 245);
    font-weight: bold;
    transition: opacity 0.5s ease;
    display: none;
}

.message-promos-uno,
.message-promos-tres {
    margin-top: 10px;
    color: rgb(8, 8, 8);
    font-weight: bold;
    transition: opacity 0.5s ease;
    display: none;
}


/*ESTILOS DEL HEADER*/

header {
    background-color: #1a1617;
    color: #ffffff;
    padding: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    overflow: visible;
    /* Asegura que el contenido adicional sea visible y no genere scroll */
}

/*BARRA DE NAVEGACION */
.navbar-brand img {
    width: 150px;
    height: 150px;
    margin-right: 10px;


}

nav {
    background-color: #1a1617;
    padding: 5px;
    flex-grow: 1;
    height: auto;
    /* Cambia a auto para que el nav crezca según el contenido */
}

.collapse {
    overflow: visible;
    /* Evita el scroll cuando el menú se despliega */
}



nav ul {

    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav .nav-link {

    font-size: 1.2rem;
    color: #fff;
}

nav .nav-link:hover {
    color: #f5b714;
}

.navbar-nav {

    flex-direction: row;
    justify-content: first baseline;
    width: 100%;
    gap: 30px;
    overflow: visible;
    /* Asegura que no haya scroll innecesario */
}



.navbar-nav .nav-item {
    margin-left: 20px;

}

.navbar-nav .nav-item .nav-link {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.navbar-toggler {
    border-color: #f5b714;
    /* Cambia el color del borde del botón */

}

.navbar-toggler-icon {
    /*cambia le color de las lineas del menu*/
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"%3E%3Cpath stroke="rgba(245, 183, 20, 1)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E') !important;

}


/*CONTAINER DE LA SECCION PROMOCIONES*/
#container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
    flex-grow: 1;

}

.titulo-promociones h2 {
    background: #fff;
    width: 100%;
    height: 50%;
    padding: 20px;
    text-align: center;
    margin: auto;
    text-align: center;
    font-size: 2rem;
    border-radius: 25px;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
}

/* Sección de Promociones */
.promociones {
    background: linear-gradient(to right, #ffcc00 50%, #de04f1 50%);
    padding: auto;
    margin: 0 auto;
}

/* Estilo de las tarjetas en promociones */
.card-promos {
    width: 60%;
    height: 100vh;
    max-height: max-content;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: none;

}

.card-promos img {
    width: 100%;
    height: auto;
    object-fit: contain;

}


/* Títulos de las tarjetas */
.card-title {
    font-weight: bold;


}

/* Texto de las tarjetas */
.card-text p {
    width: 100vw;

}

/*carrusel*/
.carousel {
    width: 100vw;
    margin: 0;
}


.carousel-item img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: center;
}


.oculto {
    display: hidden;
}

/* Card productos*/

.card-producto {
    width: 80%;
    height: 600px;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: none;

}

.title-producto {
    font-family: "Coiny", system-ui;
    font-weight: bold;
    overflow: hidden;

}

.card-producto img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/*cards del index y de perfil*/

.card-index {
    width: 100%;
    max-width: 490px;
    height: 400px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-body {
    overflow: hidden;
}



/*media querys*/
@media (max-width: 992px) {

    /* Asegura que el nav se expanda verticalmente y sin scroll en pantallas pequeñas */
    .navbar-nav {
        flex-direction: column;
        /* Cambia a columna en dispositivos más pequeños */
        align-items: flex-start;
    }

    .navbar-nav .nav-item {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .navbar-nav .btn {
        margin-top: 10px;
    }

   
    .collapse {
        height: auto;
        overflow: visible;
        /* Evita el scroll */
    }
}

     /* media querys */

@media (max-width: 767px) {
    .burger-section {
        flex-direction: column;
        align-items: center;
 
    }
    .card-promos {
        height: 100%;
       }
}

@media (max-width: 575px) {
    #main-index {
        background: black;

    }

    .burger-section .row{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: auto;
    }
    .text-side h3, .epigrafe-izq, .epigrafe-der {
        color:#e0a800;
    }
    .titulo-promociones h2 {
        background: linear-gradient(to right, #ffcc00 50%, #de04f1 50%);
        width: 100%;
        color: black;
        margin-top: 10px;
    }
  
}