
body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

#container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    flex-grow: 1;
    
    /* Hacer que el contenido principal crezca para empujar el footer hacia abajo */
}

header {
    background-color: #fff;
    color: #ffffff;
    padding: 15px;
    display: flex; /* Usar flexbox para alinear elementos */
    align-items: center; /* Centrar verticalmente */
}

header .navbar-brand {
    margin-right: 20px; /* Espacio entre logo y nav */
}

nav {
    background-color: #fff;
    color: #444;
    padding: 5px;
    flex-grow: 1; /* Permitir que la nav crezca */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* Mantener los enlaces en línea */
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav .nav-link {
    font-size: 1.2rem;
}



main {
    padding: 20px;
    flex-grow: 1;
    background-color: rgb(245, 122, 8);
    /* Esto permite que el contenido empuje al footer hacia abajo */
}

main h2 {
    margin-top: 0;
}

.form-background {
    background-color: #f8d058;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);


}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: auto;
    /* Mantener el footer pegado al final */
}


.honeypot {
    display: none;
}


.carousel-item {
    display: flex;
    justify-content: center;
}

.carrusel-pequeño {
    max-width: 100%;
    height: 15%; 
    margin: 0 auto; /* Centrar el carrusel */
}

.card {
    width: 190px;
    margin: 10px;
}

.card-img-top {
    height: 140px;
    object-fit: cover;
}


.carousel-item img {
    
    object-fit: cover;   
    height: 80vh;
    aspect-ratio: 16/9; 
}



.oculto {
    display: hidden;
}
